/* 
    Document   : css-main
    Created on : Oct 5, 2013, 1:42:37 PM
    Author     : dustinbarton
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

head-wrap {
    
}

body-wrap {
    
}

footer-wrap {
    
}